/* Estilo general
--------------------------------------------- */

body {
	margin: 30px;
	padding: 30px;
	background-color: #000000;
}

/* Typography
--------------------------------------------- */

body {
	font-size:18px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 0 0 24px;
	margin: 0 0 2.4rem;
	padding: 0;
}


/* Links
--------------------------------------------- */

a {
	text-decoration: none;
	color: #0080F0
}

a:hover {
	text-decoration: underline; 
	color: #0080F0;
}



/* Titulos
--------------------------------------------- */

h1,
h2,
h3 {
	color: #0080F0;
	font-family: "Roboto Slab", sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

/* Header
--------------------------------------------- */

header {
	width: 94%;
	padding: 3%;
	background-color: #0080F0;
}

header #title {
	font-size: 50px;
	color: #fff;
}


/* Navigation
--------------------------------------------- */

nav {
	width: 97%;
	background-color: #0080F0;
	padding: 0 1.5% 0 1.5%;
}

nav ul li {
	display: inline-block;
	padding: 15px 1.5% 15px 1.5% ;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.2em;
}

nav ul li a:hover {
	color: #000000;
	text-decoration: none;
}



/* Content
--------------------------------------------- */

#cuerpo {
	float: left;
	padding: 0%;
	width: 64%;
}



/* Sidebar
--------------------------------------------- */

aside {
	float: right;
	padding: 2%;
	width: 30%;
	color: #595959;
	background-color: #eee;
}



/* Footer
--------------------------------------------- */

footer{
	width: 94%;
	padding: 3%;
	background-color: #0080F0;
	border-top: 5px 5px 10px 10px solid #ffffff;
	color: #fff;
	text-align: left;
    clear:both;
}




